.ch-main-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.ch-main-link-wrapper {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
}

.ch-main-link-wrapper:first-child {
    margin-bottom: 20px;
}

