.ch-main-wrapper {
    display: flex;
    width: 100%;
    flex: 1 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.ch-main-link-wrapper:first-child {
    margin-bottom: 20px;
}

