.ch-card-wrapper {
    display: flex;
    flex-direction: column;
    color: #000;
}

.ch-card-ch-wrapper {
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.ch-card-details {
    display: flex;
    flex-direction: column;
}

.ch-card-detail {
    display: flex;
    font-size: 24px;
    padding: 10px 20px;
}
