.ch-header {
    height: 50px;
    position: fixed;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05)
}

.ch-menu-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    padding: 5px;
    box-sizing: content-box;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
.ch-menu-btn img {
    width: 20px;
    height: 20px;
}

.ch-menu-wrapper {
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.ch-menu-link-wrapper {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
}
