@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|Roboto&display=swap');

.ch-app {
  height: 100vh;
  margin: 0;
  /*padding: 0;*/
  font-family: 'Roboto', sans-serif;
  display: flex;
  padding: env(safe-area-inset-top) 0;
  flex-direction: column;
}

.ch-link {
  width: 100%;
  font-size: 24px;
  text-decoration: none;
  color: #000;
}

.ch-link a, .ch-link a:hover, .ch-link a:visited, .ch-link a:active, .ch-link a:focus {
  text-decoration: none;
  color: inherit;
}

.ch-container {
  display: flex;
  flex: 1 100%;
  padding-top: 50px;
}
